/* body {
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 100vh;
} */

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 5%;
}

.box {
    background: rgba(255, 255, 255, 0.2);
    padding: px;
    
    border: 7px solid #fff;
    border-radius: 200px/500px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    background-color: rgb(0, 255, 136);
    padding: 5px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    letter-spacing: 0.3ch;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #4367dc;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 10ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.close button {
    position: absolute;
    bottom: 65px;
    left: 45%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(47, 6, 252);
}

.close .btn {
    bottom: 200px;
}

.close button:hover {
    color: #0800ff;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}
